
<h1>Stuff In Your Cart</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price ($)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @cart_contents.each do |item| %>
    <tr>
      <td><%= item.product.title %></td>
      <td>$<%= item.product.price %></td>
      <td><%= link_to 'Show', item.product %></td>
      <td><%= link_to 'Destroy', item.delete, data: {confirm: 'Are you sure?'} %> </td>

    </tr>

  <%end%>



</table>
